<h1>Your Cart</h1>

<% if @cart.empty?%>
  <p>Your cart is currently empty</p>
<% else%>
  <%= link_to "Empty Cart", cart_clear_path %>
<%end %>

<br><br><br>

<% total = 0 %>

<ul>
  <% @cart.each do | id, quantity| %>
    <% product = Product.find_by_id(id) %>

        <p><b>Product:&nbsp;<%= link_to product.name, product %></b><p>
          <%= link_to image_tag("trash.png" , height: 18), "cart/clearitem/#{product.id}" %>
        <p>Description:&nbsp;<%= product.description %></p>
        <p>Price:&nbsp;$<span id="subtotal"><%= product.price %></span></p>
        <p>
          Quantity:&nbsp;<span id="quantity-<%=product.id%>"><%= quantity %></span>
          <%= link_to image_tag("minus.png" , height: 18), "", :onclick => "updateQuantity(#{product.id}, -1); return false" %>
          <%= link_to image_tag("plus.png" , height: 18), "", :onclick => "updateQuantity(#{product.id}, 1); return false" %>
        </p>
        <br>

    <% total += quantity * product.price %>
  <% end %>
</ul>

<p>Total Amount:&nbsp;<b><span id="total"><%= total %></b></span></p>
<br><br><br><br>

<a href="/cart/checkout">Proceed to Check Out</a>
<br><br>

<%= session[:cart] %>
