<div class="all_shirts">




  <% @products.first(9).each do |prod| %>
  <div class="col-md-4 col-sm-6 text-center">
      <div class="panel panel-default">
        <%= link_to prod do %>
          <div class="panel-body" style="background-image:url('<%= prod.product_image %>'); height: 200px;"></div>
         <div class="panel-footer"><p>Price: €<%= prod.price %></p>
             <a href="/cart/<%=prod.id%>" class="text-center btn btn-primary">Add To Cart</a>
        </div>
         <% end %>

      </div>
  </div>
  <% end %>

  <!-- <h1>Products#index</h1>
    <% @products.each do |productloop| %>
      <h2><%= productloop.name %></h2><a href="/cart/<%=productloop.id%>">Add To Cart</a>
        <h4>EUR <%= productloop.price.round %>,-</h4>
          <p><%= productloop.description %></p><br>
          <%= image_tag(productloop.product_image) %>
    <% end %> -->


</div>
