<!DOCTYPE html>
<html>
  <head>
    <title>Hackertees</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <% if current_page?(root_path) %>
           <%= render "layouts/slider" %>
       <% end %>
    <% unless current_page?(cart_checkout_path) %>
    <%= render "layouts/cart" %>
    <% end %>
  <main class="container" >
    <%= yield %>
  </main>
  </body>
</html>
